@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", cursive;
    
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
    overflow: hidden;
    
}

main{
    display: inline-block;
    padding: 20px;
    position: relative;

}

.pokedex{
    width: 100%;
    
}

.pokemon_img{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon_data{
    font-weight: 1000;
    position: absolute;
    bottom: 40%;
    right: 27%;
    font-size: clamp(8px, 5vw, 20px);
    --background-color: red;
    
}

.pokemon_name{
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}

.pokemon_number{
    color: rgb(78, 76, 76);
}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
    
}

.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2% solid rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 rgb(37, 37, 37);

}

.buttons{
    position: absolute;
    bottom: 18%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
    
}

.button{
    width: 50%;
    padding: 4%;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #222, -5px 7px 0 #000;
    background-color: rgb(73, 67, 67);
    color: #fff;
}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.btn-info
{
    position: absolute;
    bottom: 10.8%;
    right: 25%;
    width: 15%;
    height: 5%;
    border-radius: 100px;
    font-size: clamp(small, 5vw, 1rem);
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    background-color: rgb(73, 67, 67);
    color: #fff;
    
}

.btn-info:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.info_pokemon{
    position: absolute;
    top: 30%;
    left: 20%;
    color: #fff;

}


.img-arena{ 
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0.4px);
}

.stats{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    color: #fff;
    border-radius: 10px;
    background-color: #000;
    
    
}
.text-stats{
    position: absolute;
    top: 5%;
    left: 5%;
    text-transform: capitalize;
    font-weight: 600;
}

.stats-img{
    position: absolute;
    left: 21%;
    top: 29.5%;
    height: 10%;
    width: 10%;
    border-radius: 10px;
    
    
}


.image-stats{
    position: absolute;
    height: 600%;
    transform: translateX(-49%) translateY(1%) scaleX(-1);
    

}

.box-stats{
    
    position: absolute;
    top: 40.5%;
    left: 46.3%;
    width: 55%;
    height: 25%;
    border-radius: 10px;
    box-sizing:content-box;
    transform: translate(-50%, -50%);
    
}

.box-stats:hover{
    transform: scale(2.2);
    top: 30%;
    left: 20%;
    
}

